<nav>
    <img src="../img/logo.png" id="header-logo" alt="Joe & the juice logo" href="../"/>
    <a href="../">Home</a>
    <a href="../products">Products</a>
    <a href="../order">Order</a>
    <a id="open-popup" class="align-right">Login</a>
    <a class="align-right" href="../create-user.html" id="createuser">Create user</a>
    <a id="cart-button" class="align-right" href="/cart">
        <img src="../img/cart-icon.svg" alt="cart" />
        <span id="cart-count" class="cart-count"></span>
    </a>
</nav>