<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <body id="account-page">
    <!-- HOVEDMENU -->
    <nav>
      <img src="../img/logo.png" id="header-logo" alt="Joe & the juice logo" />
      <a href="../">Home</a>
      <a href="../products">Products</a>
      <a href="../order">Order</a>
      <a id="open-popup" class="align-right" href="../login.html">Login</a>
      <a class="align-right" href="../account" id = "createuser"></a>
      <a id="cart-button" class="align-right" href="/cart">
        Cart
        <span id="cart-count" class="cart-count">0</span>
      </a>
  </nav>
    <section id="my-account">
<div class="account-wrapper">
<h1 id="accountHeader"></h1>
<div class="account-info">
    <div class="account-info-wrapper">
        <h2>Your information</h2>
        <label for="name">Name</label>
        <input type="text" id="accountname" readonly/>
        <label for="email">Email</label>
        <input type="text" id="accountemail" readonly/>
        <label for="phone">Phone number</label>
        <input type="text" id="accountphone" readonly/>
        <label for="password">Password</label>
        <input type="password" id="accountpassword" readonly/>
        <label for="confirmpass" id="confirmlabel"></label>
        <input type="password" id="accountpasswordconfirm"/>
        <button id="accountbtn">Edit</button>
        <button id="accountsavebtn">Save changes</button>
        <button id="accountcancelbtn">Cancel</button>
    </div>

</div>
</div>

    
        </div>
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/accountpage.js"></script>

  </body>
</html>
