<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <body id="account-page">
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>

    <div id="my-account">
<div class="account-wrapper">

<div id="account-info">
  <h1 id="accountHeader"></h1>
    <div class="account-info-wrapper">
        <h2>Your information</h2>
        <label for="name">Name</label>
        <input type="text" id="accountname" readonly/>
        <label for="email">Email</label>
        <input type="text" id="accountemail" readonly/>
        <label for="phone">Phone number</label>
        <input type="text" id="accountphone" readonly/>
        <label for="password">Password</label>
        <input type="password" id="accountpassword" readonly/>
        <label for="confirmpass" id="confirmlabel"></label>
        <input type="password" id="accountpasswordconfirm"/>
        <button id="accountbtn">Edit</button>
        <button id="accountsavebtn">Save changes</button>
        <button id="accountcancelbtn">Cancel</button>
    </div>

</div>

<div id="order-history"
>
  <h2>Order history</h2>
  <div id="order-history-wrapper">
    <div id="order-history-header">
      <p>Order number</p>
      <p>Order date</p>
      <p>Order total</p>
      <p>Order status</p>
    </div>
    <div id="order-history-content">
    </div>
  </div>
</div>
</div>

    
        </div>
    <%- include('partials/scriptInit') %>
    <script src="/scripts/accountpage.js"></script>

  </body>
</html>
