<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <script src="/scripts/addToCart.js"></script>
  <script src="/scripts/cart.js"></script>
  <%- include('partials/scriptInit') %>
  <body>
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>
    <section class="top-banner">
      <h1>Cart</h1>
    </section>
    <!-- KURV OVERSIGT -->
    <section id="cart-overview">
      
    </section>
    <!-- CHECKOUT -->
    <div class="checkout-container" id="checkout-btn">
        <a class="checkout-button">Continue to Checkout</a>
    </div>
  </body>
</html>
