<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <body id="createuserbody">
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>
    <section id="create-user">
      <h1>Create a new account</h1>
      <form>
        <label for="email" >E-mail</label>
        <input type="text" id="create-email" placeholder="E-mail address"/>
        <label for="name">Name</label>
        <input type="text" id="create-name" placeholder="Full name"/>
        <label for="phone">Phone number</label>
        <input type="text" id="create-phone" placeholder="+45xxxxxxxx"/>
        <label for="password">Password</label>
        <!--Type for the password fields is text, this is on purpose and will be changed on focus by an eventlistener in createuser.js-->
        <input type="text" id="create-password" placeholder="Choose a strong password" />
        <label for="password" >Confirm password</label>
        <input type="text" placeholder="Repeat the password" id="create-password-confirm" />
        <div id="password-requirements">
          <p id="length-check">Must be at least 8 characters <span id="length-icon"></span></p>
          <p id="uppercase-check">Must contain an uppercase letter <span id="uppercase-icon"></span></p>
          <p id="lowercase-check">Must contain a lowercase letter <span id="lowercase-icon"></span></p>
          <p id="number-check">Must contain a number <span id="number-icon"></span></p>
          <p id="confirmation-check">Confirm password <span id="confirm-icon"></span></p>

        </div>
      </form>
      <button id="create-user-btn" class="pink-btn">Create user</button>
    </section>
    <script src ="/scripts/createuser.js"> </script>
    <%- include('partials/scriptInit') %>
  </body>
</html>
