<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <body id="createuserbody">
    <!-- HOVEDMENU -->
    <nav>
      <img src="../img/logo.png" id="header-logo" alt="Joe & the juice logo" />
      <a href="../">Home</a>
      <a href="../products">Products</a>
      <a href="../order">Order</a>
      <a id="open-popup" class="align-right">Login</a>
      <a class="align-right" href="../account">My account</a>
      
      <button id="cart-button" class="align-right">
          Cart
          <span id="cart-count" class="cart-count">0</span>
      </button>
  </nav>
    <section id="create-user">
      <h1>Create a new account</h1>
      <form>
        <label for="email" >E-mail</label>
        <input type="text" id="create-email" placeholder="E-mail address"/>
        <label for="name">Name</label>
        <input type="text" id="create-name" placeholder="Full name"/>
        <label for="phone">Phone number</label>
        <input type="text" id="create-phone" placeholder="+45xxxxxxxx"/>
        <label for="password">Password</label>
        <input type="password" id="create-password" placeholder="Choose a strong password" />
        <label for="password" >Confirm password</label>
        <input type="password" placeholder="Repeat the password" id="create-password-confirm" />
        <div id="password-requirements">
          <p id="length-check">Must be at least 8 characters <span id="length-icon"></span></p>
          <p id="uppercase-check">Must contain an uppercase letter <span id="uppercase-icon"></span></p>
          <p id="lowercase-check">Must contain a lowercase letter <span id="lowercase-icon"></span></p>
          <p id="number-check">Must contain a number <span id="number-icon"></span></p>
          <p id="confirmation-check">Confirm password <span id="confirm-icon"></span></p>

        </div>
      </form>
      <button id="create-user-btn">Create user</button>
    </section>
    <script src="/scripts/popup.js"></script>
    <script src ="/scripts/createuser.js"> </script>
    <script src = "/scripts/navigation.js"></script>
  </body>
</html>
