<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <script src="/scripts/frontpage.js"></script>
  <script src="/scripts/addToCart.js"></script>
  <body id="frontpage">
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>
  
    <!-- INDHOLD PÅ FORSIDE -->
    <div class="overlay">
      <section id="home">
        <div id="home-content">
          <h1>START YOUR ORDER</h1>
          <p>
            Fresh juices, healthy shakes and delicious sandwiches. What are you
            in for today?
          </p>
          <<button class="home-btn" onclick="location.href='../products'">ORDER NOW</button>
        </div>
      </section>
    </div>
    <section id="frontpage-products">
      <h1>Most popular products</h1>
      <div id="frontpage-productview">
        </div>
        <button class="pink-btn" onclick="location.href='../products'">SEE MORE PRODUCTS</button>
    </section>
    <%- include('partials/scriptInit') %>
  </body>
</html>
