<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <script src="/scripts/login.js"></script>
  <body>
    <!-- HOVEDMENU -->
    <nav>
      <img
        src="../img/logo.png"
        id="header-logo"
        alt="Joe & the juice logo"
      />
      <a href="../index.html">Home</a>
      <a href="../products.html">Products</a>
      <a href="../order.html">Order</a>
      <a id="open-popup" class="align-right" href="../login.html">Login</a>
      <a class="align-right" href="../account.html">My account</a>
    </nav>
   
<!-- The login popup -->
<div id="login-popup" class="popup">
    <div class="popup-content">
        <span class="close" id="close-popup">&times;</span>
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username</label>
            <input type="text" id="username" />
            <label for="password">Password</label>
            <input type="password" id="password" />
            <input type="submit" value="Submit" />
            <p class="pink-text">Create user</p>
        </form>
        </div>
        <script src="../popup.js"></script>
  </body>
</html>
