<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>
  <body>
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>
    <section id="message"></section>
    <!-- success page -->
    <section class="top-banner">
      <h1>SUCCESS</h1>
    </section>
    <section class="text-section">
      <h2>Thank you for your order!</h2>
      <p>
        Your order has been received and is being processed. You will receive an
        email confirmation shortly.
        <br><br>
        You will recieve an SMS when your order is ready for pickup.
      </p>
      <p>
        <a href="../products">Back to products</a>
      </p>
    </section>
  </body>
</html>
