<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>

  <body>
    <!-- HOVEDMENU -->
    <nav>
      <img src="../img/logo.png" id="header-logo" alt="Joe & the juice logo" />
      <a href="../">Home</a>
      <a href="../products">Products</a>
      <a href="../order">Order</a>
      <a id="open-popup" class="align-right" href="../login.html">Login</a>
      <a class="align-right" href="../account" id="createuser"></a>
      <a id="cart-button" class="align-right" href="/cart">
        Cart
        <span id="cart-count" class="cart-count">0</span>
      </a>
  </nav>
    <section class="top-banner">
      <h1>Products</h1>
    </section>
    <!-- PRODUKT OVERSIGT -->
    <section id="product-overview">
      <!--Now it gets products automatically from the server-->
      <!--<div id="product1" class="product">
        <img src="../img/product1.jpg" alt="Green vegan bowl" />
        <div class="product-desc">
          <h1>Green vegan bowl</h1>
          <p>
            Avocado, Broccoli, Cranberry, Edamame, Kale, Lemon, Pickled Red
            Onion, Pumpkin Seeds, Spinach, Vegan Pest
          </p>
          <p>69,00kr</p>
        </div>
      </div>
      <div id="product2" class="product">
        <img src="../img/Tunacado-x1.jpg" alt="Tunacado" />
        <div class="product-desc">
          <h1>Tunacado</h1>
          <p>Avocado, Joe's Classic Bread, Tomato, Tuna, Vegan Pesto</p>
          <p>75,00kr</p>
        </div>
      </div>
      <div id="product3" class="product">
        <img src="../img/Power Shake-x1.jpg" alt="Power Shake" />
        <div class="product-desc">
          <h1>Power Shake</h1>
          <p>Vanilla Milk, Strawberries, Banana, Iceo</p>
          <p>59,00kr</p>
        </div>
      </div>
      <div id="product4" class="product">
        <img src="../img/JOEs Club-x1.jpg" alt="JOES club" />
        <div class="product-desc">
          <h1>JOE's club</h1>
          <p>Joe's Classic Bread, Vegan Pesto, Avocado, Chicken, Tomato</p>
          <p>74,00kr</p>
        </div>-->
    </section>
    <!-- The login popup
<div id="login-popup" class="popup">
    <div class="popup-content">
        <span class="close" id="close-popup">&times;</span>
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username</label>
            <input type="text" id="username" />
            <label for="password">Password</label>
            <input type="password" id="password" />
            <input type="submit" value="Submit" />
            <p class="pink-text">Create user</p>
        </form>
        </div>
         -->
    <script src="/scripts/popup.js"></script>
    <script src="/scripts/products.js"></script>
    <script src="/scripts/addToCart.js"></script>
    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/login.js"></script>
  </body>
</html>
