<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Joe & the Juice - eksamensprojekt</title>
  </head>

  <body>
    <!-- HOVEDMENU -->
    <%- include('partials/navbar') %>
    <section class="top-banner">
      <h1>Products</h1>
    </section>
    <!-- PRODUKT OVERSIGT -->
    <section id="product-overview">
      
    </section>
    <!-- The login popup-->
    <%- include('partials/scriptInit') %>
    <script src="/scripts/products.js"></script>
    <script src="/scripts/addToCart.js"></script>
  </body>
</html>
